# Project exclude paths
/.gradle/
/Adapter/.gradle/
/Adapter/build/
/Adapter/build/classes/java/main/
/Bridge/.gradle/
/Bridge/build/
/Bridge/build/classes/java/main/
/Bridge/build/classes/java/test/
/build/
/Builder/.gradle/
/Builder/build/
/Builder/build/classes/java/main/
/Builder/build/classes/java/test/
/Decorator/.gradle/
/Decorator/build/
/Decorator/build/classes/java/main/
/Exercises/.gradle/
/Exercises/build/
/Exercises/build/classes/java/main/
/Factory/.gradle/
/Factory/build/
/Factory/build/classes/java/main/
/Factory/build/classes/java/test/
/Prototype/.gradle/
/Prototype/build/
/Prototype/build/classes/java/main/
/Prototype/build/classes/java/test/